<p-confirmDialog [style]="{background: '#70B1C9',opacity: '0.8'}" header="Confirmation"
	icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="col-sm-12">
	<div class="row">
		<tc-form-group class="col-sm-6 col-lg-10">
			<tc-input [placeholder]="'Buscar Cita'" type="number" [(ngModel)]="dni"
				[suffixIcon]="'icofont-search-document'">
			</tc-input>
		</tc-form-group>
		<tc-form-group class="col-sm-6 col-lg-2">
			<button tc-button [view]="'info'" (click)="buscar()">
				Buscar
			</button>
		</tc-form-group>
	</div>
	<tc-card class="mb-0">
		<div class="table-wrap">
			<table class="table-box">
				<thead>
					<tr>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Numero de Historia
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							N° Recibo
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							DNI
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							F. Atencion
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							F. Separación
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Estado
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Especialidad
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Modificar
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Cancelar
						</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let row of citasEdit">
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.numeroHistoria}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroRecibo}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.dni}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.fechaAtencion}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.fechaSeparacion}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.estadoCita}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.especialidad.nombre}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							<div class="actions">
								<button class="col-6" tc-button [afterIcon]="'icofont-edit-alt'" [view]="'info'"
									[square]="true" [tcShape]="500" [size]="'sm'"
									(click)="openModal(modalBody, 'Editar Cita', modalFooter,row);sendCita(row)"></button>
							</div>

						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							<div class="actions">
								<button class="col-6" tc-button [afterIcon]="'icofont-ui-delete'" [view]="'error'"
									[square]="true" [tcShape]="500" [size]="'sm'"
									(click)="CancelarCita(row.id)"></button>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</tc-card>
</div>
<ng-container>
	<ng-template #modalBody>
		<form [formGroup]="appointmentForm">
			<tc-form-group>
				<tc-form-label>Especialidad</tc-form-label>
				<tc-select [placeholder]="'Especialidad'" type="number" formControlName="especialidad" [options]="espOption">
				</tc-select>
				<tc-form-label>Fecha de Separación</tc-form-label>
				<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
					*ngIf="appointmentForm.controls.especialidad.touched && appointmentForm.controls.especialidad.invalid ">
					Seleccione especialidad
				</tc-form-description>
			</tc-form-group>
			<tc-form-group>
				<tc-input type="date" formControlName="fechaSeparacion"></tc-input>
				<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
					*ngIf="appointmentForm.controls.fechaSeparacion.touched && appointmentForm.controls.fechaSeparacion.invalid ">
					Ingrese Fecha de Separación
				</tc-form-description>
			</tc-form-group>
		</form>
	</ng-template>

	<ng-template #modalFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="appointmentForm.invalid"
				(click)="addAppointment(appointmentForm)">
				Guardar
			</button>
		</div>
	</ng-template>
</ng-container>