<ng-container>
  <ng-template #modalConf1>
    <p>¿Esta seguro que desea cancelar la cita?</p>
  </ng-template>

  <ng-template #modalConf2>
    <h5>Cancelar Cita</h5>
  </ng-template>

  <ng-template #modalConf3>
    <div class="row actions justify-content-between">
      <button
        class="col-sm-3"
        tc-button
        [view]="'success'"
        (click)="CancelarCita()"
      >
        Si
      </button>
      <button
        class="col-sm-3"
        tc-button
        [view]="'error'"
        (click)="closeModalConf()"
      >
        No
      </button>
    </div>
  </ng-template>
</ng-container>
<form [formGroup]="busForm" class="col-sm-12">
  <div class="row">
    <div class="col-md-2">
      <tc-form-group>
        <!-- [charLimiting]="8" -->
        <tc-select
          [placeholder]="'Opciones'"
          formControlName="opBus"
          [options]="busqOption"
          (click)="selectOpt()"
        >
        </tc-select>
      </tc-form-group>
    </div>
    <div class="col-md-6">
      <tc-form-group>
        <tc-input
          *ngIf="opBus == 0"
          [type]="'number'"
          [suffixIcon]="'icofont-search-document'"
          [placeholder]="'Seleccione una opcion'"
          formControlName="campo"
        ></tc-input>
        <tc-input
          *ngIf="opBus == 1"
          [type]="'number'"
          [charLimiting]="8"
          pattern="[0-9]{8}"
          [suffixIcon]="'icofont-search-document'"
          [placeholder]="'DNI (8 digitos)'"
          formControlName="campo"
        ></tc-input>
        <tc-input
          *ngIf="opBus == 2"
          [placeholder]="'Ingrese especialidad a buscar'"
          [type]="'text'"
          [charLimiting]="20"
          pattern="[a-zA-Z]*"
          [suffixIcon]="'icofont-search-document'"
          formControlName="campo"
        >
        </tc-input>
        <tc-form-description
          [tcColor]="'#1666B3'"
          [tcFontSize]="'0.8em'"
          *ngIf="busForm.controls.campo.invalid" >
          Ingrese DNI (Ejemplo:74256985), Especialidad
          (Ejemplo:Odontologia)
        </tc-form-description>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <button
        tc-button
        [block]="true"
        [view]="'success'"
        [tcShape]="500"
        (click)="buscar(busForm)"
      >
        Buscar
      </button>
    </div>
    <div class="col-md-2">
      <button
        tc-button
        [block]="true"
        [tcBgColor]="'#3f51b5'"
        [tcShape]="500"
        (click)="loadCitas()"
      >
        Cargar
      </button>
    </div>
  </div>
</form>
<br />
<tc-card *ngIf="citasEdit?.length" class="mb-0">
  <div class="table-wrap">
    <table class="table-box">
      <thead>
        <tr>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Numero de Historia
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            N° Recibo
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            DNI
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            F. Editado
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            F. Atención
          </th>
          
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Estado
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Especialidad
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Modificar
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Cancelar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of citasEdit">
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.numeroHistoria.numeroHistoria }}
          </td>
          <td *ngIf="row.numeroRecibo==null" [ngStyle]="{ background: contentBgColor, color: contentColor }">
            Exonerado
          </td>
          <td *ngIf="row.numeroRecibo" [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.numeroRecibo }}
          </td>
          <td
            [ngStyle]="{ background: contentBgColor, color: contentColor }"
            [tcColor]="'#259FD0'"
          >
            {{ row.numeroHistoria.dni }}
          </td>
          <!-- 
							<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.updated_at.substring(0,10)}}
						</td>
            -->
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.updated_at.substring(0, 10) }}
            </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.fechaAtencion }}
          </td>
          

          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.estadoCita }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.especialidad.nombre }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            <div class="actions">
              <button
                [disabled]="
                  row.estadoCita == 'Cancelado' || row.estadoCita == 'Atendido'
                "
                class="col-6"
                tc-button
                [afterIcon]="'icofont-edit-alt'"
                [view]="'info'"
                [square]="true"
                [tcShape]="500"
                [size]="'sm'"
                (click)="
                  openModal(modalBody, 'Editar Cita', modalFooter, row);
                  sendCita(row)
                "
              ></button>
            </div>
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            <div class="actions">
              <button
                [disabled]="
                  row.estadoCita == 'Cancelado' || row.estadoCita == 'Atendido'
                "
                class="col-6"
                tc-button
                [afterIcon]="'icofont-ui-delete'"
                [view]="'error'"
                [square]="true"
                [tcShape]="500"
                [size]="'sm'"
                (click)="
                  openModalCancelar(modalConf1, modalConf2, modalConf3, row.id)
                "
              ></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination-ul">
      <li class="pagination-li prev">
        <a
          class="pagination-link"
          (click)="prevPage()"
          [ngClass]="{ disabled: pageNum == 1 }"
        >
          <i class="icofont-simple-left"></i>
        </a>
      </li>

      <li class="pagination-li next">
        <a class="pagination-link" (click)="nextPage()">
          <i class="icofont-simple-right"></i>
        </a>
      </li>
    </ul>
  </div>
</tc-card>
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="cabModCita">
      <div class="row">
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>Numero de Historia</tc-form-label>
          <tc-input formControlName="numeroHistoria" readonly="readonly">
          </tc-input>
        </tc-form-group>
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>DNI</tc-form-label>
          <tc-input formControlName="dni" readonly="readonly"> </tc-input>
        </tc-form-group>
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>Numero de Recibo</tc-form-label>
          <tc-input formControlName="numeroRecibo" readonly="readonly">
          </tc-input>
        </tc-form-group>
      </div>
    </form>
    <!-- (click)="loadOptionsMedEsp(appointmentForm.get('especialidad').value)"  [selected]="espSelected"-->
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <tc-form-label>Especialidad</tc-form-label>
        <tc-select
          [placeholder]="espSelectedName"
          formControlName="especialidad"
          [options]="espOption"
          (click)="loadOptionsMedEsp(appointmentForm.get('especialidad').value)"
        >
        </tc-select>
        <tc-form-description
        [tcColor]="'#e24d4d'"
        [tcFontSize]="'0.8em'"
        *ngIf="
          appointmentForm.controls.especialidad.untouched &&
          appointmentForm.controls.especialidad.invalid
        "
      >
        Seleccione una especialidad
      </tc-form-description>
        <tc-form-label>Médico</tc-form-label>
        <tc-select
          [placeholder]="medSelectedName"
          formControlName="medico"
          [options]="medOption"
        >
        </tc-select>
        <tc-form-description
        [tcColor]="'#e24d4d'"
        [tcFontSize]="'0.8em'"
        *ngIf="
          appointmentForm.controls.medico.untouched &&
          appointmentForm.controls.medico.invalid
        "
      >
        Seleccione un Médico
      </tc-form-description>
        <tc-form-label
          >Fecha de Separación(A partir del dia Actual)</tc-form-label
        >
      </tc-form-group>
      <tc-form-group>
        <tc-input type="date" formControlName="fechaAtencion"></tc-input>
        <tc-form-description
          [tcColor]="'#e24d4d'"
          [tcFontSize]="'0.8em'"
          *ngIf="
            appointmentForm.controls.fechaAtencion.touched &&
            appointmentForm.controls.fechaAtencion.invalid
          "
        >
          Ingrese Fecha de Atencion
        </tc-form-description>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button
        tc-button
        [type]="'button'"
        [view]="'error'"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        tc-button
        [view]="'info'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
