<p-confirmDialog
  [style]="{ background: '#70B1C9', opacity: '0.8' }"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<form [formGroup]="busForm" class="col-sm-12">
  <div class="row">
    <div class="col-md-3">
      <tc-form-group>
        <tc-select
          [placeholder]="'Opciones'"
          formControlName="opBus"
          [options]="busqOption"
        >
        </tc-select>
      </tc-form-group>
    </div>
    <div class="col-md-7">
      <tc-form-group>
        <tc-input
          [placeholder]="'Ingrese el dato a buscar'"
          type="number"
          [suffixIcon]="'icofont-search-document'"
          formControlName="dni"
        >
        </tc-input>
        <tc-form-description
          [tcColor]="'#e24d4d'"
          [tcFontSize]="'0.8em'"
          *ngIf="busForm.controls.dni.touched && busForm.controls.dni.invalid"
        >
          Ingrese solo numeros
        </tc-form-description>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <tc-form-group>
        <button
          tc-button
          [block]="true"
          [view]="'success'"
          [tcShape]="500"
          (click)="buscar(busForm)"
        >
          Buscar
        </button>
      </tc-form-group>
    </div>
  </div>
  <tc-card class="mb-0">
    <div class="table-wrap">
      <table class="table-box">
        <thead>
          <tr>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Numero de Historia
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              N° Recibo
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              DNI
            </th>

            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              F. Atencion
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              F. Editado
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Estado
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Especialidad
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Modificar
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Cancelar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of citasEdit">
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.numeroHistoria.numeroHistoria }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.numeroRecibo }}
            </td>
            <td
              [ngStyle]="{ background: contentBgColor, color: contentColor }"
              [tcColor]="'#259FD0'"
            >
              {{ row.numeroHistoria.dni }}
            </td>
            <!-- 
							<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.updated_at.substring(0,10)}}
						</td>
						-->
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.fechaAtencion }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.updated_at }}
            </td>

            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.estadoCita }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.especialidad.nombre }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              <div class="actions">
                <button
                  class="col-6"
                  tc-button
                  [afterIcon]="'icofont-edit-alt'"
                  [view]="'info'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                  (click)="
                    openModal(modalBody, 'Editar Cita', modalFooter, row);
                    sendCita(row)
                  "
                ></button>
              </div>
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              <div class="actions">
                <button
                  [disabled]="row.estadoCita == 'Cancelado'"
                  class="col-6"
                  tc-button
                  [afterIcon]="'icofont-ui-delete'"
                  [view]="'error'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                  (click)="CancelarCita(row.id)"
                ></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </tc-card>
</form>
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="cabModCita">
      <div class="row">
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>Numero de Historia</tc-form-label>
          <tc-input formControlName="numeroHistoria" readonly="readonly">
          </tc-input>
        </tc-form-group>
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>DNI</tc-form-label>
          <tc-input formControlName="dni" readonly="readonly"> </tc-input>
        </tc-form-group>
        <tc-form-group class="col-12 col-sm-4">
          <tc-form-label>Numero de Recibo</tc-form-label>
          <tc-input formControlName="numeroRecibo" readonly="readonly">
          </tc-input>
        </tc-form-group>
      </div>
    </form>

    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <tc-form-label>Especialidad</tc-form-label>
        <tc-select
          [placeholder]="'Especialidad'"
          type="number"
          formControlName="especialidad"
          [options]="espOption"
        >
        </tc-select>
        <tc-form-label>Médico</tc-form-label>
        <tc-select
          [placeholder]="'Médico'"
          type="number"
          formControlName="medico"
          [options]="medOption"
        >
        </tc-select>
        <tc-form-label>Fecha de Separación</tc-form-label>
        <tc-form-description
          [tcColor]="'#e24d4d'"
          [tcFontSize]="'0.8em'"
          *ngIf="
            appointmentForm.controls.especialidad.touched &&
            appointmentForm.controls.especialidad.invalid
          "
        >
        </tc-form-description>
      </tc-form-group>
      <tc-form-group>
        <tc-input type="date" formControlName="fechaAtencion"></tc-input>
        <tc-form-description
          [tcColor]="'#e24d4d'"
          [tcFontSize]="'0.8em'"
          *ngIf="
            appointmentForm.controls.fechaAtencion.touched &&
            appointmentForm.controls.fechaAtencion.invalid
          "
        >
          Ingrese Fecha de Atencion
        </tc-form-description>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button
        tc-button
        [type]="'button'"
        [view]="'error'"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        tc-button
        [view]="'info'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
