<form [formGroup]="busForm">
	<div class="row">
		<div class="col col-12 ">
			<div class="row">
				<div class="col-md-2">
					<tc-form-group>
						<tc-select [placeholder]="'Opcion'" formControlName="opBus" [options]="busqOption"></tc-select>
					</tc-form-group>
				</div>
				<div class="col-md-6">
					<tc-form-group>
						<tc-input [placeholder]="'Ingrese Dato a buscar*'" formControlName="datoBus"></tc-input>
					</tc-form-group>
				</div>

				<div class="col-md-2">
					<button tc-button [block]="true" [view]="'success'" [tcShape]="500" (click)="buscar(busForm)">
						Buscar
					</button>
				</div>
				<div class="col-md-2">
					<button tc-button [block]="true" [view]="'success'" [tcShape]="500" (click)="cargarExamn()">
						Cargar Todo
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
<br>
<tc-card class="mb-0">
	<tc-table [rows]="examen" [hovered]="true" [pagination]="true">
		<tc-table-col [columnTitle]="'Nombre'" [columnName]="'nombre'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>
		<tc-table-col [columnTitle]="'DNI'" [columnName]="'dni'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>
		<tc-table-col [columnTitle]="'Fecha'" [columnName]="'fecha'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Agregar Detalle'">
			<ng-template #tableTDTemplate let-row="row">
				<div class="add-action-box">
					<button tc-button [afterIcon]="'icofont-contact-add'" [square]="true" [tcShape]="500"
						[tcBgColor]="'#3f51b5'"
						(click)="openModaD(modalCrearDBody, 'Agregar Detalle',modalCrearDFooter,row,{ closeButton: true, overlayClose: false })">
					</button>
				</div>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Ver Mas'">
			<ng-template #tableTDTemplate let-row="row">
				<div class="actions">
					<button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
						[tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
						(click)="openModalVerMas(modalBodyH, 'Ver Resultados', modalFooterH, row)">Ver
						Mas</button>
				</div>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Imprimir'">
			<ng-template #tableTDTemplate let-row="row">
				<div class="actions align-items-center ">
					<button tc-button [afterIcon]="'icofont-print'" [tcColor]="['#795548', '#fff']"
						[tcBgColor]="['transparent', '#795548']" [tcBorderColor]="'#795548'" [square]="true"
						[tcShape]="500" [size]="'sm'" (click)="imprimir(row)"></button>
				</div>
			</ng-template>
		</tc-table-col>
	</tc-table>

	<ul class="pagination-ul">
		<li class="pagination-li prev">
			<a class="pagination-link" (click)="prevPage()" [ngClass]="{ disabled: pageNum == 1 }">
				<i class="icofont-simple-left"></i>
			</a>
		</li>

		<li class="pagination-li next">
			<a class="pagination-link" (click)="nextPage()">
				<i class="icofont-simple-right"></i>
			</a>
		</li>
	</ul>
</tc-card>


<div class="add-action-box2">
	<a href="http://18.216.2.122:9000/laboratorio/reporteMensual">
		<input type="button" value="Reporte Mensual" name="submit" tc-button [square]="true" [tcShape]="300" />
	</a>
</div>

<div class="addlab-action-box">
	<a href="http://18.216.2.122:9000/laboratorio/reporteSemanal">
		<input type="button" value="Reporte Semanal" name="submit" tc-button [square]="true" [tcShape]="300" />
	</a>
</div>



<!-- Modal Crear detalle -->
<ng-container>
	<ng-template #modalCrearDBody>
		<form [formGroup]="detalleForm" novalidate class="new-patient-form">
			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Descripcion*'" formControlName="descripcion"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.descripcion.touched && detalleForm.controls.descripcion.invalid ">
						Ingrese la descripcion, este solo debe contener letras.
					</tc-form-description>
				</tc-form-group>

			</div>
			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Resultado Obtenido*'" formControlName="resultado_obtenido"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.resultado_obtenido.touched && detalleForm.controls.resultado_obtenido.invalid ">
						Ingrese Resultado Obtenido, este solo debe contener letras.
					</tc-form-description>
				</tc-form-group>
			</div>


			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Unidades*'" formControlName="unidades"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.unidades.touched && detalleForm.controls.unidades.invalid ">
						Ingrese unidades.
					</tc-form-description>
				</tc-form-group>
			</div>

			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Rango de Referencia*'" formControlName="rango_referencia"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.rango_referencia.touched && detalleForm.controls.rango_referencia.invalid ">
						Ingrese Rango de referencia.
					</tc-form-description>
				</tc-form-group>
			</div>

		</form>
	</ng-template>

	<ng-template #modalCrearDFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModalD()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="detalleForm.invalid" (click)="addDetalle(detalleForm)">
				Agregar
			</button>
		</div>
	</ng-template>
</ng-container>
<!-- end Modal Crear detalle -->


<!-- Open Modal Ver Mas -->
<ng-container>
	<ng-template #modalBodyH>
		<form [formGroup]="examenForm" novalidate class="new-patient-form">
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>Nombre</tc-form-label>
						<tc-input [placeholder]="'Nombre'" formControlName="nombre" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>DNI</tc-form-label>
						<tc-input [placeholder]="'Fecha'" formControlName="dni" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>Tipo de Examen</tc-form-label>
						<tc-input [placeholder]="'Tipo de Examen'" formControlName="tipoExam" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>Fecha</tc-form-label>
						<tc-input [placeholder]="'Fecha'" formControlName="fecha" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>

			</div>

			<div class="col-12 col-sm-12">
				<tc-form-group>
					<tc-form-label> Observaciones </tc-form-label>
					<tc-input [placeholder]="'Observaciones'" formControlName="observaciones" readonly="readonly">
					</tc-input>
				</tc-form-group>
			</div>

			<tc-card [title]="'Detalles'" class="mb-0">
				<tc-table [rows]="detalleT" [hovered]="true" [pagination]="true">
					<tc-table-col [columnTitle]="'Descripción'" [columnName]="'descripcion'">
						<ng-template #tableTDTemplate let-value>
							<strong>{{ value }}</strong>
						</ng-template>
					</tc-table-col>

					<tc-table-col [columnTitle]="'Resultado'" [columnName]="'resultado_obtenido'">
						<ng-template #tableTDTemplate let-value>
							<strong>{{ value }}</strong>
						</ng-template>
					</tc-table-col>

					<tc-table-col [columnTitle]="'Unidades'" [columnName]="'unidades'">
						<ng-template #tableTDTemplate let-value>
							<strong>{{ value }}</strong>
						</ng-template>
					</tc-table-col>

					<tc-table-col [columnTitle]="'Rango'" [columnName]="'rango_referencia'">
						<ng-template #tableTDTemplate let-value>
							<strong>{{ value }}</strong>
						</ng-template>
					</tc-table-col>
				</tc-table>
			</tc-card>

		</form>
	</ng-template>

	<ng-template #modalFooterH>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [tcBgColor]="'#009688'" [block]="true"
				(click)="closeModalH()">ACEPTAR</button>
		</div>
	</ng-template>
</ng-container>
<!--End Modal Ver Mas-->