<tc-card [tcGradient]="['#fff', '#fbfbfb']">
  <div class="row">
    <div class="col-12 col-sm-2">
      <tc-form-label>Numero de Historia</tc-form-label>
    </div>
    <div class="col-12 col-sm-4">
      <tc-form-label>Nombre del Paciente</tc-form-label>
    </div>
    <div class="col-12 col-sm-2">
      <tc-form-label>DNI</tc-form-label>
    </div>
    <div class="col-12 col-sm-2">
      <tc-form-label>Edad</tc-form-label>
    </div>
    <div class="col-12 col-sm-2">
      <tc-form-label>Sexo</tc-form-label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-2">
      <label>{{datoBus}}</label>
    </div>
    <div class="col-12 col-sm-4">
      <label>{{nombreRecibido}}</label>
    </div>
    <div class="col-12 col-sm-2">
      <label>{{dniRecibido}}</label>
    </div>
    <div class="col-12 col-sm-2">
      <label>{{edadRecibido}}</label>
    </div>
    <div class="col-12 col-sm-2">
      <label>{{sexoRecibido}}</label>
    </div>
  </div>
</tc-card>
<h5>Listado de Consultas</h5>
<tc-card>
  <tc-table [rows]="consultasRecibidas" [hovered]="true">
    <tc-table-col [columnTitle]="'Especialidad'" [columnName]="'proximaCita'"></tc-table-col>
    <tc-table-col [columnTitle]="'Fecha de la Consulta'" [columnName]="'fechaCreacion'"></tc-table-col>
    <tc-table-col [columnTitle]="'Ver Mas'" [columnName]="''">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
            [tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
            (click)="openModalVerC(modalBodyVerC, 'Ver Consulta', modalFooterVerC, row)">VerMas</button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <tc-card *ngIf="hayConsultas" class="mb-0">
    <h6 [align]="center">No posee Consultas registradas por el momento</h6>
  </tc-card>
  <ul class="pagination-ul">
    <li class="pagination-li prev">
      <a class="pagination-link" (click)="prevPage()" [ngClass]="{ disabled: pageNum == 1 }">
        <i class="icofont-simple-left"></i>
      </a>
    </li>

    <li class="pagination-li next">
      <a class="pagination-link" (click)="nextPage()">
        <i class="icofont-simple-right"></i>
      </a>
    </li>
  </ul>
</tc-card>

<h5>Listado de Examenes</h5>
<tc-card>
  <tc-table [rows]="examenesRecibidos" [hovered]="true">
    <tc-table-col [columnTitle]="'Examen'" [columnName]="'nombre'">
      <ng-template #tableTDTemplate let-value>
        <strong>{{value}}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Fecha'" [columnName]="'fecha'">
    </tc-table-col>
    <tc-table-col [columnTitle]="'VerMas'" [columnName]="''">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
            [tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
            (click)="openModalExamenes(modalBodyVerUE, 'Ver Resultados', modalFooterVerUE, row)">VerMas</button>
        </div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Imprimir'" [columnName]="''">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button tc-button [afterIcon]="'icofont-download'" [tcColor]="['#fff', '#009688']"
            [tcBgColor]="['#009688', '#fff']" [tcBorderColor]="'#009688'" [square]="true" [tcShape]="500" [size]="'sm'"
            (click)="imprimirEx(row)"></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>
<tc-card *ngIf="hayEx" class="mb-0">
  <h6>Esta persona NO posee examenes aun.</h6>
</tc-card>
<!--
<ul class="pagination-ul">
  <li class="pagination-li prev">
    <a class="pagination-link" (click)="prevPageE()" [ngClass]="{ disabled: pageNum == 1 }">
      <i class="icofont-simple-left"></i>
    </a>
  </li>

  <li class="pagination-li next">
    <a class="pagination-link" (click)="nextPageE()">
      <i class="icofont-simple-right"></i>
    </a>
  </li>
</ul>
-->
<div class="back-action-box">
  <button tc-button [afterIcon]="'icofont-rounded-left'" [square]="true" [tcShape]="500" [tcColor]="['#fff', '#000']"
    [tcBgColor]="['#000', '#fff']" [tcBorderColor]="'#000'" (click)="regresar()"></button>
</div>

<div class="add-action-box">
  <button tc-button [afterIcon]="'icofont-plus'" [square]="true" [tcShape]="500" [tcColor]="['#fff', '#3f51b5']"
    [tcBgColor]="['#3f51b5', '#fff']" [tcBorderColor]="'#3f51b5'"
    (click)="openModalC(modalCrearCBody, 'Agregar Consulta', modalCrearCFooter)">Agregar Consulta</button>
</div>
<!-- Modal Crear Consulta -->
<ng-container>
  <ng-template #modalCrearCBody>
    <form [formGroup]="verTriajeForm" novalidate class="new-patient-form">
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Talla</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Talla'" formControlName="talla"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Peso</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Peso'" formControlName="peso"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Temp</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Temp'" formControlName="temperatura"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frec. R.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Frec R'" formControlName="frecuenciaR"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frec. C.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Frec C'" formControlName="frecuenciaC"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Pres. Art.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Pres Art'" formControlName="presionArt"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
    </form>
    <form [formGroup]="consultForm" novalidate class="new-patient-form">
      <label>Llene los campos con letras, no utilice números ni caracteres especiales </label>
      <tc-form-group>
        <tc-textarea [placeholder]="'Motivo de Consulta*'" formControlName="motivoConsulta"></tc-textarea>
        <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
          *ngIf="consultForm.controls.motivoConsulta.touched && consultForm.controls.motivoConsulta.invalid ">
          Ingrese el Motivo de Consulta, este solo debe contener letras
        </tc-form-description>
      </tc-form-group>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-select [placeholder]="'Apetito'" formControlName="apetito" [options]="apetitoOption">
            </tc-select>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-input [placeholder]="'Orina*'" formControlName="orina"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="consultForm.controls.orina.touched && consultForm.controls.orina.invalid ">
              Ingrese el Orina, este solo debe contener letras
            </tc-form-description>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-input [placeholder]="'Deposiciones*'" formControlName="deposiciones"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="consultForm.controls.deposiciones.touched && consultForm.controls.deposiciones.invalid ">
              Ingrese el Deposiciones, este solo debe contener letras
            </tc-form-description>
          </tc-form-group>
        </div>
      </div>
      <tc-form-group>
        <tc-textarea [placeholder]="'Sintomas*'" formControlName="examenFisico"></tc-textarea>
        <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
          *ngIf="consultForm.controls.examenFisico.touched && consultForm.controls.examenFisico.invalid ">
          Ingrese el Sintomas, este solo debe contener letras
        </tc-form-description>
      </tc-form-group>
      <tc-form-group>
        <tc-textarea [placeholder]="'Diagnostico*'" formControlName="diagnostico"></tc-textarea>
        <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
          *ngIf="consultForm.controls.diagnostico.touched && consultForm.controls.diagnostico.invalid ">
          Ingrese el Diagnostico, este solo debe contener letras
        </tc-form-description>
      </tc-form-group>
      <tc-form-group>
        <tc-textarea [placeholder]="'Tratamiento*'" formControlName="tratamiento"></tc-textarea>
        <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
          *ngIf="consultForm.controls.tratamiento.touched && consultForm.controls.tratamiento.invalid ">
          Ingrese el Tratamiento, este solo debe contener letras
        </tc-form-description>
      </tc-form-group>
      <tc-form-group>
        <tc-form-label>Orden de Examen</tc-form-label><label>En caso se requiera, escriba la orden para realizar un
          examen al laboratorio</label>
        <tc-input [placeholder]="'Examen de ****** '" formControlName="ordenExam"></tc-input>
      </tc-form-group>
      <tc-form-group>
        <tc-form-label>Proxima Cita</tc-form-label>
        <tc-input type="date" formControlName="proximaCita"></tc-input>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalCrearCFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalC()">Cancelar</button>
      <button tc-button [view]="'info'" [disabled]="consultForm.invalid" (click)="addConsult(consultForm)">
        Agregar Consulta
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal Crear Consulta -->

<!-- Open Modal Ver Mas -->
<ng-container>
  <ng-template #modalBodyVerC>
    <form [formGroup]="verMasCForm" novalidate class="new-patient-form">
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Talla</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Talla'" formControlName="talla"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Peso</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'peso'" formControlName="peso"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Temp</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Temp'" formControlName="temperatura"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frec. R.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Frec R'" formControlName="frecuenciaR"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frec. C.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Frec C'" formControlName="frecuenciaC"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Pres. Art.</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Pres Art'" formControlName="presionArt"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <tc-form-group>
        <tc-form-label>Motivo de Consulta</tc-form-label>
        <tc-textarea [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Motivo'" formControlName="motivo"
          readonly="readonly"></tc-textarea>
      </tc-form-group>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Apetito</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Apetito'" formControlName="apetito"
              readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Orina</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Orina*'" formControlName="orina"
              readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Deposiciones</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Deposiciones*'"
              formControlName="deposiciones" readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
      </div>
      <tc-form-group>
        <tc-form-label>Sintomas</tc-form-label>
        <tc-textarea [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Sintomas'" formControlName="exaFis"
          readonly="readonly"></tc-textarea>
      </tc-form-group>
      <tc-form-group>
        <tc-form-label>Diagnostico</tc-form-label>
        <tc-textarea [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Diagnostico'" formControlName="diagnostico"
          readonly="readonly"></tc-textarea>
      </tc-form-group>
      <tc-form-group>
        <tc-form-label>Tratamiento</tc-form-label>

        <tc-textarea [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Tratamiento'" formControlName="tratamiento"
          readonly="readonly"></tc-textarea>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooterVerC>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [tcBgColor]="'#009688'" [block]="true"
        (click)="closeModalVerC()">Aceptar</button>
    </div>
  </ng-template>
</ng-container>
<!--End Modal Ver Mas-->

<!-- Open Modal Ver Un Examenes -->
<ng-container>
  <ng-template #modalBodyVerUE>
    <form [formGroup]="examenForm" novalidate class="new-patient-form">

      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Tipo de Examen</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Tipo de Examen'" formControlName="tipoExam"
              readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Fecha</tc-form-label>
            <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Fecha'" formControlName="fecha"
              readonly="readonly"></tc-input>
          </tc-form-group>
        </div>

      </div>

      <div class="col-12 col-sm-12">
        <tc-form-group>
          <tc-form-label> Observaciones </tc-form-label>
          <tc-input [bgColor]="'#fff'" [color]="'#3f51b5'" [placeholder]="'Ninguna '" formControlName="observaciones"
            readonly="readonly">
          </tc-input>
        </tc-form-group>
      </div>

      <tc-card [title]="'Detalles'" class="mb-0">
        <tc-table [rows]="detalleT" [hovered]="true" [pagination]="true">
          <tc-table-col [columnTitle]="'Descripción'" [columnName]="'descripcion'">
            <ng-template #tableTDTemplate let-value>
              <strong>{{ value }}</strong>
            </ng-template>
          </tc-table-col>

          <tc-table-col [columnTitle]="'Resultado'" [columnName]="'resultado_obtenido'">
            <ng-template #tableTDTemplate let-value>
              <strong>{{ value }}</strong>
            </ng-template>
          </tc-table-col>

          <tc-table-col [columnTitle]="'Unidades'" [columnName]="'unidades'">
            <ng-template #tableTDTemplate let-value>
              <strong>{{ value }}</strong>
            </ng-template>
          </tc-table-col>

          <tc-table-col [columnTitle]="'Rango'" [columnName]="'rango_referencia'">
            <ng-template #tableTDTemplate let-value>
              <strong>{{ value }}</strong>
            </ng-template>
          </tc-table-col>
        </tc-table>
      </tc-card>

    </form>
  </ng-template>

  <ng-template #modalFooterVerUE>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [tcBgColor]="'#009688'" [block]="true"
        (click)="closeModalExamenes()">ACEPTAR</button>
    </div>
  </ng-template>
</ng-container>
<!--End Modal Ver Un Examen-->