@import '~assets/sass/variables';
$_module-rem: $module-rem;
$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;
$_module-rem: $module-rem;
$_bg: rgba(#ebebeb, 0.3);
$_border-color: #ebebeb;
$_border-width: 2px;
$_td-border-color: #fff;
$_td-border-width: 2px;
$_header-bg: rgba(main-palette(500), 0.1);
$_header-color: main-palette(500);
$_striped-bg: rgba(main-palette(500), 0.08);

$_shape: $shape;
$_animation: $animation;
$_shadow: 0 0 10px rgba(#000, 0.5);

$_bg: #d4d3d3;
$_color: #fff;
$_bg-active: accent-palette(500);
$_color-aclive: accent-contrast(500);
$_bg-disabled: rgba($_bg, 0.6);
$_color-disabled: $_color;
$_module-rem: $module-rem;
$_shape: 500px;
$_animation: $animation;

:host {
  .add-action-box {
    top: $module-rem * 8;
    position: fixed;
    right: $module-rem * 10;
    z-index: 9997;
    .tc-btn {
      font-size: 15px;
    }
  }
}


.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
    input {
        display: none;
        & + span {
            line-height: $radioSize;
            height: $radioSize;
            padding-left: $radioSize;
            display: block;
            position: relative;
            &:not(:empty) {
                padding-left: $radioSize + 8;
            }
            &:before,
            &:after {
                content: '';
                width: $radioSize;
                height: $radioSize;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $radioBorder;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + span {
            &:before {
                transform: scale(1.04);
                background: $radioActive;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
    &:hover {
        input {
            & + span {
                &:before {
                    transform: scale(.92);
                }
                &:after {
                    transform: scale(.74);
                }
            }
            &:checked + span {
                &:after {
                    transform: scale(.4);
                }
            }
        }
    }
}

// Center & twitter
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    .twitter {
        position: fixed;
        display: block;
        right: 24px;
        bottom: 24px;
        opacity: .5;
        color: #212533;
        text-decoration: none;
        font-weight: 500;
        transition: all .4s ease;
        &:hover {
            opacity: 1;
        }
        img {
            display: block;
            height: 36px;
        }
    }
}

:host {
    display: block;
    margin-top: $_module-rem * 2;
    padding: 0;
  
    .pagination-ul {
      list-style-type: none;
      display: flex;
      margin: 0 (-$_module-rem / 4);
      padding: 0;
  
      .pagination-li {
        margin: 0 ($_module-rem / 4);
  
        .pagination-link {
          background: $_bg;
          border-radius: $_shape;
          color: $_color;
          cursor: pointer;
          display: block;
          min-width: $_module-rem * 3;
          padding: ($_module-rem / 2);
          text-align: center;
          text-decoration: none;
          transition: background-color 0.2s $_animation, color 0.2s $_animation;
  
          &:hover,
          &.active {
            background: $_bg-active;
            color: $_color-aclive;
          }
          &.disabled {
            background: $_bg-disabled;
            color: $_color-disabled;
            pointer-events: none;
          }
        }
      }
    }
  }