<p-toast [style]="{background: '#F9F7AE',opacity: '0.8'}"></p-toast>
<div class="col-sm-12">
	<form [formGroup]="busForm">
		<div class="row">
			<div class="col col-12 ">
				<div class="row">
					<div class="col-md-3">
						<tc-form-group>
							<tc-select [placeholder]="'Opcion'" formControlName="opBus" [options]="busqOption">
							</tc-select>
						</tc-form-group>
					</div>
					<div class="col-md-7">
						<tc-form-group>
							<tc-input [placeholder]="'Ingrese Dato a buscar*'" formControlName="datoBus"></tc-input>
						</tc-form-group>
					</div>
					<div class="col-md-2">
						<button tc-button [block]="true" [view]="'success'" [tcShape]="500" (click)="buscar(busForm)">
							Buscar
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br>
	<tc-card class="mb-0">
		<tc-table [rows]="historiales" [hovered]="true" [pagination]="true">
			<tc-table-col [columnTitle]="'ID'" [columnName]="'id'">
				<ng-template #tableTDTemplate let-value>
					<strong>{{ value }}</strong>
				</ng-template>
			</tc-table-col>
			<tc-table-col [columnTitle]="'Numero de Historia'" [columnName]="'numeroHistoria'" [enableSorting]="true">
				<ng-template #tableTDTemplate let-value>
					<strong>{{ value }}</strong>
				</ng-template>
			</tc-table-col>
			<tc-table-col [columnTitle]="'Nombres'" [columnName]="'nombres'" [enableSorting]="true"></tc-table-col>
			<tc-table-col [columnTitle]="'Apellido Paterno'" [columnName]="'apellido_paterno'" [enableSorting]="true">
			</tc-table-col>
			<tc-table-col [columnTitle]="'Apellido Materno'" [columnName]="'apellido_materno'" [enableSorting]="true">
			</tc-table-col>
			<tc-table-col [columnTitle]="'Edad'" [columnName]="'edad'">
			</tc-table-col>
			<tc-table-col [columnTitle]="'Celular'" [columnName]="'celular'">
				<ng-template #tableTDTemplate let-value>
					<span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
						<tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="mr-1">
						</tc-icon>
						{{ value }}
					</span>
				</ng-template>
			</tc-table-col>
			<tc-table-col [columnTitle]="'Ver Mas'" [columnName]="''">
				<ng-template #tableTDTemplate let-row="row">
					<div class="actions">
						<button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
							[tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
							(click)="openModalVerMas(modalBodyH, 'Ver HistorialCompleto', modalFooterH, row)">Ver
							Mas</button>
					</div>
				</ng-template>
			</tc-table-col>
			<tc-table-col [columnTitle]="'Agregar Cita'" [columnName]="'numeroHistoria'">
				<ng-template #tableTDTemplate let-row="row">
					<div class="actions align-items-center">
						<button tc-button [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true" [tcShape]="500"
							[tcColor]="['#3f51b5', '#fff']" [tcBgColor]="['transparent', '#3f51b5']"
							[tcBorderColor]="'#3f51b5'" [size]="'sm'"
							(click)="openModal(modalCrearCBody, 'Agregar cita', modalCrearCFooter);getHistoria(row.id)"></button>
					</div>
				</ng-template>
			</tc-table-col>
			<tc-table-col [columnTitle]="'Imprimir'" [columnName]="'numeroHistoria'">
				<ng-template #tableTDTemplate let-row="row">
					<div class="actions align-items-center ">
						<button tc-button [afterIcon]="'icofont-print'" [tcColor]="['#795548', '#fff']"
							[tcBgColor]="['transparent', '#795548']" [tcBorderColor]="'#795548'" [square]="true"
							[tcShape]="500" [size]="'sm'" (click)="imprimir(row)"></button>
					</div>
				</ng-template>
			</tc-table-col>
		</tc-table>
	</tc-card>
	<div class="add-action-box">
		<button tc-button [afterIcon]="'icofont-contact-add'" [square]="true" [tcShape]="500"
			(click)="openModalH(modalCrearHBody, 'Agregar Historial', modalCrearHFooter)"></button>
	</div>

</div>
<!-- Modal Crear Cita  -->
<ng-container>
	<ng-template #modalCrearCBody>
		<form [formGroup]="appointmentForm">
			<tc-form-group>
				<tc-form-label>Seleccione lo siguiente:</tc-form-label>
				<div>
					<label class="radio">
						<input type="radio" formControlName="eleccion" value="rec" (click)="setradio('rec')"
							[checked]='true' ngModel>
						<span>Recibo </span>
					</label>
					<div *ngIf="isSelected('rec')">
						<tc-input [placeholder]="'Ingrese el Numero de Recibo*'" [type]="'text'"
							formControlName="numeroRecibo">
						</tc-input>
					</div>
				</div>
				<div>
					<label class="radio">
						<input type="radio" formControlName="eleccion" value="res" (click)="setradio('res')" ngModel>
						<span>Exonerado </span>
					</label>
					<div *ngIf="isSelected('res')">
						<tc-input [placeholder]="'Ingrese el Nombre del Responsable*'" [type]="'text'"
							formControlName="responsable">
						</tc-input>
					</div>
				</div>
			</tc-form-group>
			<br>
			<tc-form-group>
				<tc-select [placeholder]="'Especialidad'" formControlName="especialidad" [options]="espOption">
				</tc-select>
			</tc-form-group>
			<tc-form-group>
				<tc-select [placeholder]="'Medico'" formControlName="medico" [options]="medOption">
				</tc-select>
			</tc-form-group>
			<tc-form-group>
				<tc-input type="date" formControlName="fechaSeparacion"></tc-input>
				<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
					*ngIf="appointmentForm.controls.fechaSeparacion.touched && appointmentForm.controls.fechaSeparacion.invalid ">
					Ingrese Fecha de Separacion
				</tc-form-description>
			</tc-form-group>
		</form>
	</ng-template>

	<ng-template #modalCrearCFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="appointmentForm.invalid"
				(click)="addAppointment(appointmentForm)">
				Agregar Cita
			</button>

		</div>
	</ng-template>
</ng-container>
<!-- end Modal Crear Cita -->
<!-- Modal Crear Historial -->
<ng-container>
	<ng-template #modalCrearHBody>
		<form [formGroup]="patientForm" novalidate class="new-patient-form">
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Número de Historia*'" [type]="'number'"
							formControlName="numeroHistoria">
						</tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.numeroHistoria.touched && patientForm.controls.numeroHistoria.invalid ">
							Ingrese Numero de Historia
						</tc-form-description>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'DNI*'" formControlName="dni" [charLimiting]="8"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.dni.touched && patientForm.controls.dni.invalid ">
							Ingrese DNI, debe contener solo 8 digitos.
						</tc-form-description>
					</tc-form-group>
				</div>
			</div>
			<tc-form-group>
				<tc-input [placeholder]="'Nombres*'" formControlName="nombres"></tc-input>
				<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
					*ngIf="patientForm.controls.nombres.touched && patientForm.controls.nombres.invalid ">
					Ingrese el nombre, este solo debe contener letras
				</tc-form-description>
			</tc-form-group>
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Apellido Paterno*'" formControlName="apellido_paterno"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.apellido_paterno.touched && patientForm.controls.apellido_paterno.invalid ">
							Ingrese el apellido paterno, este solo debe contener letras.
						</tc-form-description>
					</tc-form-group>

				</div>
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Apellido Materno*'" formControlName="apellido_materno"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.apellido_materno.touched && patientForm.controls.apellido_materno.invalid ">
							Ingrese el apellido materno, este solo debe contener letras.
						</tc-form-description>
					</tc-form-group>
				</div>
			</div>
			<tc-form-group>
				<tc-input [placeholder]="'Direccion'" formControlName="direccion"></tc-input>
				<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
					*ngIf="patientForm.controls.direccion.touched && patientForm.controls.direccion.invalid ">
					Ingrese la direccion
				</tc-form-description>
			</tc-form-group>

			<div class="row">
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-select [placeholder]="'Distrito'" formControlName="distrito" [options]="distritosOption">
						</tc-select>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-select [placeholder]="'Provincia'" formControlName="provincia" [options]="provinciasOption">
						</tc-select>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-select [placeholder]="'Departamento'" formControlName="departamento"
							[options]="departamentosOption">
						</tc-select>
					</tc-form-group>
				</div>

			</div>

			<div class="row">


				<div class="col-12 col-sm-5">
					<tc-form-group>
						<tc-input type="date" [placeholder]="'Fecha de Nacimiento'" formControlName="fechaNac">
						</tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.fechaNac.touched && patientForm.controls.fechaNac.invalid ">
							Ingrese Fecha de Nacimiento correcta aaaa-mm-dd
						</tc-form-description>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-3">
					<tc-form-group>
						<tc-input [placeholder]="'Edad*'" [type]="'number'" formControlName="edad" [charLimiting]="2">
						</tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.edad.touched && patientForm.controls.edad.invalid ">
							Ingrese una Edad valida
						</tc-form-description>

					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-group>
							<tc-select [placeholder]="'Sexo'" formControlName="sexo" [options]="sexOption">
							</tc-select>
						</tc-form-group>
					</tc-form-group>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Telefono'" [type]="'number'" formControlName="telefono"
							[charLimiting]="6"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.telefono.touched && patientForm.controls.telefono.invalid ">
							Ingrese el numero de telefono, este solo debe contener 6 digitos
						</tc-form-description>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Celular*'" [type]="'number'" formControlName="celular"
							[charLimiting]="9"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.celular.touched && patientForm.controls.celular.invalid ">
							Ingrese el numero de celular, este solo debe contener 9 digitos
						</tc-form-description>
					</tc-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-input [placeholder]="'Grado de Instruccion'" formControlName="gradoInstruccion"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.gradoInstruccion.touched && patientForm.controls.gradoInstruccion.invalid ">
							Este campo solo debe tener letras.
						</tc-form-description>

					</tc-form-group>
				</div>


				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-group>
							<tc-select [placeholder]="'Ocupacion'" formControlName="ocupacion"
								[options]="ocupacionOption">
							</tc-select>
						</tc-form-group>
					</tc-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-input [placeholder]="'Estado Civil*'" formControlName="estadoCivil"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.estadoCivil.touched && patientForm.controls.estadoCivil.invalid ">
							Este campo solo debe tener letras.
						</tc-form-description>
					</tc-form-group>
				</div>


				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-input [placeholder]="'Nacionalidad*'" formControlName="nacionalidad"></tc-input>
						<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
							*ngIf="patientForm.controls.nacionalidad.touched && patientForm.controls.nacionalidad.invalid ">
							Este campo solo debe tener letras
						</tc-form-description>
					</tc-form-group>
				</div>
			</div>


		</form>
	</ng-template>

	<ng-template #modalCrearHFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModalH()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="patientForm.invalid" (click)="addPatient(patientForm)">
				Agregar Historial
			</button>
		</div>
	</ng-template>
</ng-container>
<!-- end Modal Crear Historial -->

<!-- Open Modal Ver Mas -->
<ng-container>
	<ng-template #modalBodyH>
		<form [formGroup]="historiaForm" novalidate class="new-patient-form">
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>Numero de Historia</tc-form-label>
						<tc-input [placeholder]="'name'" formControlName="numeroHistoria" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>DNI</tc-form-label>
						<tc-input [placeholder]="'DNI'" formControlName="dni" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Nombre</tc-form-label>
						<tc-input [placeholder]="'Nombre'" formControlName="nombres" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>

				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Apellido Paterno</tc-form-label>
						<tc-input [placeholder]="'Apellido Paterno'" formControlName="apellido_paterno"
							readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>


				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Apellido Materno</tc-form-label>
						<tc-input [placeholder]="'Apellido Materno'" formControlName="apellido_materno"
							readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Fecha Nacimiento </tc-form-label>
						<tc-input [placeholder]="'Edad'" formControlName="fechaNac" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Telefono</tc-form-label>
						<tc-input [placeholder]="'Telefono'" [type]="'number'" formControlName="telefono"
							readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Celular</tc-form-label>
						<tc-input [placeholder]="'Celular'" [type]="'number'" formControlName="celular"
							readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
			</div>
			<div class="row">

				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Estado Civil</tc-form-label>
						<tc-input [placeholder]="'Estado Civil'" formControlName="estadoCivil" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Grado de Instruccion</tc-form-label>
						<tc-input [placeholder]="'Grado de Instruccion'" formControlName="gradoInstruccion"
							readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Ocupacion</tc-form-label>
						<tc-input [placeholder]="'Ocupacion'" formControlName="ocupacion" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

			</div>
			<div class="row">

				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Direccion</tc-form-label>
						<tc-input [placeholder]="'Direccion'" formControlName="direccion" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Nacionalidad</tc-form-label>
						<tc-input [placeholder]="'Nacionalidad'" formControlName="nacionalidad" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>


			</div>
			<div class="row">

				<div class="col-12 col-sm-8">
					<tc-form-group>
						<tc-form-label>Email</tc-form-label>
						<tc-input [placeholder]="'Email'" [type]="'email'" sformControlName="email" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>


			</div>
			<div class="row">

				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Distrito</tc-form-label>
						<tc-input [placeholder]="'Distrito'" formControlName="distrito" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Provincia</tc-form-label>
						<tc-input [placeholder]="'Provincia'" formControlName="provincia" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>
				<div class="col-12 col-sm-4">
					<tc-form-group>
						<tc-form-label>Departamento</tc-form-label>
						<tc-input [placeholder]="'Departamento'" formControlName="departamento" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

			</div>



		</form>
	</ng-template>

	<ng-template #modalFooterH>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [tcBgColor]="'#009688'" [block]="true"
				(click)="closeModalH()">ACEPTAR</button>
		</div>
	</ng-template>
</ng-container>
<!--End Modal Ver Mas-->