<form [formGroup]="busForm">
	<div class="row">
		<div class="col col-12 ">
			<div class="row">
				<div class="col-md-8">
					<tc-form-group>
						<tc-input [type]="'number'"  [charLimiting]="8"  pattern="[0-9]{8}" [placeholder]="'Ingrese numero de DNI*'" formControlName="datoBus"></tc-input>
					</tc-form-group>
				</div>
				<div class="col-md-2">
					<button tc-button [block]="true" [view]="'success'" [tcShape]="500" (click)="buscar(busForm)">
						Buscar
					</button>
				</div>
				<div class="col-md-2">
						<button tc-button [block]="true" [tcBgColor]="'#3f51b5'" [tcShape]="500" (click)="loadOrdenes()">
							Cargar
						</button>
					</div>
				
			</div>
		</div>
	</div>
</form>
<tc-card class="mb-0">
	<tc-table [rows]="ordenes" [hovered]="true" [pagination]="true">

		<tc-table-col [columnTitle]="'Nombre'" [columnName]="'nombre'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'DNI'" [columnName]="'dni'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Orden'" [columnName]="'orden'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Fecha'" [columnName]="'fechaA'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'Atender'">
			<ng-template #tableTDTemplate let-row="row">
				<div class="actions">
					<button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
						[tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
						(click)="atender(row.nombre, row)">Atender</button>
				</div>
			</ng-template>
		</tc-table-col>



	</tc-table>

	<ul class="pagination-ul">
		<li class="pagination-li prev">
			<a class="pagination-link" (click)="prevPage()" [ngClass]="{ disabled: pageNum == 1 }">
				<i class="icofont-simple-left"></i>
			</a>
		</li>

		<li class="pagination-li next">
			<a class="pagination-link" (click)="nextPage()">
				<i class="icofont-simple-right"></i>
			</a>
		</li>
	</ul>
</tc-card>

<!-- Modal Crear cabecera -->
<ng-container>
	<ng-template #modalCrearHBody>
		<form [formGroup]="patientForm" novalidate class="new-patient-form">
			<div class="row">
				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>Nombre</tc-form-label>
						<tc-input [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'"
							[placeholder]="'Nombre'" formControlName="nombre" readonly="readonly">
						</tc-input>
					</tc-form-group>
				</div>

				<div class="col-12 col-sm-6">
					<tc-form-group>
						<tc-form-label>DNI</tc-form-label>
						<tc-input [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'" [placeholder]="'DNI'"
							formControlName="dni" readonly="readonly"></tc-input>
					</tc-form-group>
				</div>
			</div>



			<tc-form-group>
				<tc-form-label>Orden</tc-form-label>
				<tc-input [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'" [placeholder]="'Orden'"
					formControlName="orden" readonly="readonly"></tc-input>
			</tc-form-group>


			<tc-form-group>
				<tc-form-label>Observaciones</tc-form-label>
				<tc-input [placeholder]="'Agregar Observaciones*'" formControlName="observaciones"></tc-input>
				<tc-form-description [tcColor]="'#e24d4d'"
					*ngIf="patientForm.controls.observaciones.touched && patientForm.controls.observaciones.invalid ">
					Este campo solo debe tener letras
				</tc-form-description>
			</tc-form-group>
		</form>

	</ng-template>
	<ng-template #modalCrearHFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModalH();closeModalD()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="patientForm.invalid" (click)="addExamen(patientForm);openModaD(modalCrearDBody, 'Agregar Detalle',modalCrearDFooter,row)	
			">
				Agregar Cabecera
			</button>
		</div>
	</ng-template>
</ng-container>
<!-- end Modal Crear cabecera -->

<!-- Modal Crear detalle -->
<ng-container>
	<ng-template #modalCrearDBody>
		<form [formGroup]="detalleForm" novalidate class="new-patient-form">
			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Descripcion*'" formControlName="descripcion"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.descripcion.touched && detalleForm.controls.descripcion.invalid ">
						Ingrese la descripcion, este solo debe contener letras.
					</tc-form-description>
				</tc-form-group>

			</div>
			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Resultado Obtenido*'" formControlName="resultado_obtenido"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.resultado_obtenido.touched && detalleForm.controls.resultado_obtenido.invalid ">
						Ingrese Resultado Obtenido, este solo debe contener letras.
					</tc-form-description>
				</tc-form-group>
			</div>


			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Unidades*'" formControlName="unidades"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.unidades.touched && detalleForm.controls.unidades.invalid ">
						Ingrese unidades.
					</tc-form-description>
				</tc-form-group>
			</div>

			<div class="col-md-12">
				<tc-form-group>
					<tc-input [placeholder]="'Rango de Referencia*'" formControlName="rango_referencia"></tc-input>
					<tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
						*ngIf="detalleForm.controls.rango_referencia.touched && detalleForm.controls.rango_referencia.invalid ">
						Ingrese Rango de referencia.
					</tc-form-description>
				</tc-form-group>
			</div>

		</form>
	</ng-template>

	<ng-template #modalCrearDFooter>
		<div class="actions justify-content-between">
			<button tc-button [type]="'button'" [view]="'error'" (click)="closeModalD()">Cancelar</button>
			<button tc-button [view]="'info'" [disabled]="detalleForm.invalid" (click)="addDetalle(detalleForm)">
				Agregar
			</button>
		</div>
	</ng-template>
</ng-container>
<!-- end Modal Crear detalle -->