<p-toast [style]="{ background: '#F9F7AE', opacity: '0.8' }"></p-toast>
<div class="col-sm-12">
  <div class="row">
    <tc-form-group class="col-sm-1 col-lg-1">
      <button
        tc-button
        [afterIcon]="'icofont-plus'"
        [view]="'info'"
        [square]="true"
        [tcShape]="500"
        [size]="'sm'"
        (click)="
          openModal(modalUser, 'Agregar User', modalUser2); updateEst(false)
        "
      ></button>
    </tc-form-group>
    <tc-form-group class="col-sm-7 col-lg-9">
      <tc-input
        [placeholder]="'Buscar Usuario'"
        [(ngModel)]="id"
        [suffixIcon]="'icofont-search-document'"
      >
      </tc-input>
    </tc-form-group>
    <tc-form-group class="col-sm-4 col-lg-2">
      <button
        tc-button
        [block]="true"
        [view]="'success'"
        [tcShape]="500"
        (click)="onChangeTable()"
      >
        Buscar
      </button>
    </tc-form-group>
  </div>
  <tc-card class="mb-0">
    <tc-table [rows]="users" [hovered]="true">
      <tc-table-col [columnTitle]="'Id'" [columnName]="'id'"> </tc-table-col>
      <tc-table-col [columnTitle]="'UserName'" [columnName]="'username'">
      </tc-table-col>
      <tc-table-col [columnTitle]="'Email'" [columnName]="'email'">
      </tc-table-col>
      <tc-table-col [columnTitle]="'Modificar'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              tc-button
              [afterIcon]="'icofont-edit-alt'"
              [view]="'info'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="
                openModalEdit(modalUser, 'Editar User', modalUser2, row);
                sendUser(row);
                updateEst(true)
              "
            ></button>
          </div>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Asignar'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              style="background: rgb(205, 220, 57)"
              tc-button
              [afterIcon]="'icofont-medical-sign-alt'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="
                openModalPersonal(
                  modalPersonal,
                  'Aún no hay modelo definido de personal',
                  modalPersonal2,
                  row
                )
              "
            ></button>
          </div>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Eliminar'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              tc-button
              [afterIcon]="'icofont-ui-delete'"
              [view]="'error'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="deleteUser(row.id)"
            ></button>
          </div>
        </ng-template>
      </tc-table-col>
    </tc-table>
  </tc-card>
</div>

<!-- Modal User -->
<ng-container>
  <ng-template #modalUser>
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">UserName:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="username"
            ></tc-input>
          </div>
        </div>
      </tc-form-group>
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">Email:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [type]="'email'"
              [prefixIcon]="'icofont-at'"
              formControlName="email"
            >
            </tc-input>
          </div>
        </div>
      </tc-form-group>
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">Password:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [type]="'password'"
              [prefixIcon]="'icofont-key'"
              formControlName="password"
            >
            </tc-input>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalUser2>
    <div class="actions justify-content-between">
      <button
        *ngIf="!update"
        tc-button
        [block]="true"
        [outline]="true"
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Crear Usuario
      </button>
      <button
        *ngIf="update"
        tc-button
        [block]="true"
        [outline]="true"
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-pixels'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</ng-container>

<!-- Modal Personal -->
<ng-container>
  <ng-template #modalPersonal>
    <form [formGroup]="PersonalForm">
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">Personal:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="nombre"
            ></tc-input>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalPersonal2>
    <div class="actions justify-content-between">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModalPersonal()"
      >
        Cancelar
      </button>
      <button
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="PersonalForm.invalid"
        (click)="addPersonal(PersonalForm)"
      >
        Crear Area
      </button>
    </div>
  </ng-template>
</ng-container>
