<!-- <p-toast [style]="{ background: '#F9F7AE', opacity: '0.8' }"></p-toast> -->
<ng-container>
  <ng-template #modalConf1>
    <p>¿Esta seguro que desea eliminar Usuario?</p>
  </ng-template>

  <ng-template #modalConf2>
    <h5>Cancelar Cita</h5>
  </ng-template>

  <ng-template #modalConf3>
    <div class="row actions justify-content-between">
      <button
        class="col-sm-3"
        tc-button
        [view]="'success'"
        (click)="deleteUser()"
      >
        Si
      </button>
      <button
        class="col-sm-3"
        tc-button
        [view]="'error'"
        (click)="closeModalDelete()"
      >
        No
      </button>
    </div>
  </ng-template>
</ng-container>

<h3>Usuarios</h3>

<div class="row">
  <div class="col-md-2">
    <button
      tc-button
      [afterIcon]="'icofont-plus'"
      [view]="'info'"
      [square]="true"
      [tcShape]="500"
      [size]="'sm'"
      (click)="
        openModal(modalUser, 'Agregar Usuario', modalUser2); updateEst(false)
      "
    >
      Agregar
    </button>
  </div>
  <div class="col-md-6">
    <tc-input
      [placeholder]="'Ingrese nombre del usuario'"
      [(ngModel)]="id"
      [suffixIcon]="'icofont-search-document'"
    >
    </tc-input>
  </div>
  <div class="col-md-2">
    <button
      tc-button
      [block]="true"
      [view]="'success'"
      [tcShape]="500"
      (click)="onChangeTable()"
    >
      Buscar
    </button>
  </div>
  <div class="col-md-2">
    <button
      tc-button
      [block]="true"
      [tcBgColor]="'#3f51b5'"
      [tcShape]="500"
      (click)="loadUsers()"
    >
      Cargar
    </button>
  </div>
  <tc-card class="col-md-12 mt-2">
    <tc-table [rows]="users" [hovered]="true">
      <tc-table-col [columnTitle]="'Id'" [columnName]="'id'"> </tc-table-col>
      <tc-table-col [columnTitle]="'Nombre de usuario'" [columnName]="'username'">
      </tc-table-col>
      <tc-table-col [columnTitle]="'Modificar'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              tc-button
              [afterIcon]="'icofont-edit-alt'"
              [view]="'info'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="
                openModalEdit(modalUser, 'Editar User', modalUser2, row);
                sendUser(row);
                updateEst(true)
              "
            ></button>
          </div>
        </ng-template>
      </tc-table-col>

      <tc-table-col [columnTitle]="'Eliminar'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button
              tc-button
              [afterIcon]="'icofont-ui-delete'"
              [view]="'error'"
              [square]="true"
              [tcShape]="500"
              [size]="'sm'"
              (click)="
                openModalEliminar(modalConf1, modalConf2, modalConf3, row.id)
              "
            ></button>
          </div>
        </ng-template>
      </tc-table-col>
    </tc-table>
    <ul class="pagination-ul">
      <li class="pagination-li prev">
        <a
          class="pagination-link"
          (click)="prevPage()"
          [ngClass]="{ disabled: pageNum == 1 }"
        >
          <i class="icofont-simple-left"></i>
        </a>
      </li>

      <li class="pagination-li next">
        <a class="pagination-link" (click)="nextPage()">
          <i class="icofont-simple-right"></i>
        </a>
      </li>
    </ul>
  </tc-card>
</div>

<!-- Modal User -->
<ng-container>
  <ng-template #modalUser>
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">UserName:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="username"
            ></tc-input>
          </div>
        </div>
      </tc-form-group>

      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">Password:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [type]="'password'"
              [prefixIcon]="'icofont-key'"
              formControlName="password"
            >
            </tc-input>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalUser2>
    <div class="actions justify-content-between row">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        *ngIf="!update"
        class="col"
        tc-button
        [block]="true"
        [outline]="true"
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Crear Usuario
      </button>
      <button
        *ngIf="update"
        class="col"
        tc-button
        [block]="true"
        [outline]="true"
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-pixels'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Guardar
      </button>
    </div>
  </ng-template>
</ng-container>

<!-- Modal Personal -->
<ng-container>
  <ng-template #modalPersonal>
    <form [formGroup]="PersonalForm">
      <tc-form-group>
        <div class="row align-items-center">
          <div class="col-12 col-md-4 text-md-right">
            <tc-form-label class="mb-md-0">Personal:</tc-form-label>
          </div>
          <div class="col-12 col-md-8">
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="nombre"
            ></tc-input>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalPersonal2>
    <div class="actions justify-content-between">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModalPersonal()"
      >
        Cancelar
      </button>
      <button
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="PersonalForm.invalid"
        (click)="addPersonal(PersonalForm)"
      >
        Crear Area
      </button>
    </div>
  </ng-template>
</ng-container>
