<!-- <p-confirmDialog [style]="{background: '#70B1C9',opacity: '0.8'}" header="Confirmation"
    icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
<div class="col-sm-12">
  <div class="row">
    <tc-form-group class="col-sm-1 col-lg-1">
      <button
        tc-button
        [afterIcon]="'icofont-plus'"
        [view]="'info'"
        [square]="true"
        [tcShape]="500"
        [size]="'sm'"
        (click)="openModal(modalPersonal, 'Agregar Area', modalActions)"
      ></button>
    </tc-form-group>
    <tc-form-group class="col-sm-7 col-lg-9">
      <tc-input
        [placeholder]="'Buscar Personal por Id'"
        type="number"
        [(ngModel)]="id"
        [suffixIcon]="'icofont-search-document'"
      >
      </tc-input>
    </tc-form-group>
    <tc-form-group class="col-sm-4 col-lg-2">
      <button
        tc-button
        [block]="true"
        [view]="'success'"
        [tcShape]="500"
        (click)="buscar()"
      >
        Buscar
      </button>
    </tc-form-group>
  </div>
  <tc-card class="mb-0">
    <div class="table-wrap">
      <table class="table-box">
        <thead>
          <tr>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              User
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Nombres y Apellidos
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Celular
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Dirección
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              F. Edición
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Area
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Tipo Personal
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Especialidad
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Editar
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of personales">
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.telefono }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.nombres }}<br />{{ row.apellido_paterno }}<br />{{
                row.apellido_materno
              }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.celular }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.direccion }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.updated_at }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.area.nombre }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.tipo_personal.nombre }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.especialidad.nombre }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              <div class="actions">
                <button
                  class="col-6"
                  tc-button
                  [afterIcon]="'icofont-edit-alt'"
                  [view]="'info'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                ></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination-ul">
        <li class="pagination-li prev">
          <a
            class="pagination-link"
            (click)="prevPage()"
            [ngClass]="{ disabled: pageNum == 1 }"
          >
            <i class="icofont-simple-left"></i>
          </a>
        </li>

        <li class="pagination-li next">
          <a class="pagination-link" (click)="nextPage()">
            <i class="icofont-simple-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </tc-card>
</div>

<ng-container>
  <ng-template #modalPersonal>
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <div class="row">
          <div class=" col-sm-6  ">
            <tc-form-label>Usuario</tc-form-label>
            <tc-select
              [placeholder]="'user'"
              type="number"
              formControlName="user"
              [options]="usersOpt"
            >
            </tc-select>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">nombres:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="nombres"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.nombres.touched &&
                appointmentForm.controls.nombres.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">apellido Paterno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_paterno"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_paterno.touched &&
                appointmentForm.controls.apellido_paterno.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">apellido Materno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_materno"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_materno.touched &&
                appointmentForm.controls.apellido_materno.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">DNI:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="dni"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.dni.touched &&
                appointmentForm.controls.dni.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-6    ">
            <tc-form-label class="mb-md-0">celular:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="celular"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.celular.touched &&
                appointmentForm.controls.celular.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">telefono:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="telefono"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.telefono.touched &&
                appointmentForm.controls.telefono.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-12 ">
            <tc-form-label class="mb-md-0">Direccion:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="direccion"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.direccion.touched &&
                appointmentForm.controls.direccion.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>

        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label>area</tc-form-label>
            <tc-select
              [placeholder]="'area'"
              type="number"
              formControlName="area"
              [options]="areasOpt"
            >
            </tc-select>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>tipo</tc-form-label>
            <tc-select
              [placeholder]="'tipo personal'"
              type="number"
              formControlName="tipo_personal"
              [options]="tiposOpt"
            >
            </tc-select>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>especialidad</tc-form-label>
            <tc-select
              [placeholder]="'especialidad'"
              type="number"
              formControlName="especialidad"
              [options]="especialidadesOpt"
            >
            </tc-select>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalActions>
    <div class="actions justify-content-between row">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Crear Usuario
      </button>
    </div>
  </ng-template>
</ng-container>
