<!-- <p-confirmDialog [style]="{background: '#70B1C9',opacity: '0.8'}" header="Confirmation"
    icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
<h3>Personal</h3>
<div class="row">
  <div class="col-md-1">
    <button
      tc-button
      [view]="'info'"
      [afterIcon]="'icofont-plus'"
      [tcShape]="500"
      [size]="'sm'"
      (click)="
        openModal(modalPersonal, 'Agregar Personal', modalActions, null);
        loadusersSP()
      "
    >
      Agregar
    </button>
  </div>
  <form [formGroup]="busForm" class="col-md-11 row">
    <div class="col-md-2">
      <tc-form-group>
        <tc-select
          [placeholder]="'Opciones'"
          formControlName="opBus"
          [options]="busqOption"
        >
        </tc-select>
      </tc-form-group>
    </div>
    <div class="col-md-5">
      <tc-form-group>
        <tc-input
          [placeholder]="'Ingrese el dato a buscar'"
          type="number"
          [suffixIcon]="'icofont-search-document'"
          formControlName="campo"
        >
        </tc-input>
        <tc-form-description
          [tcColor]="'#e24d4d'"
          [tcFontSize]="'0.8em'"
          *ngIf="
            busForm.controls.campo.touched && busForm.controls.campo.invalid
          "
        >
          Ingrese solo numeros
        </tc-form-description>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <tc-form-group>
        <button
          tc-button
          type="submit"
          [block]="true"
          [view]="'success'"
          [tcShape]="300"
          (click)="buscar(busForm)"
        >
          Buscar
        </button>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <button
        tc-button
        [block]="true"
        [tcShape]="300"
        [tcBgColor]="'#3f51b5'"
        (click)="loadPersonal()"
      >
        Cargar
      </button>
    </div>
  </form>
  <br />
  <tc-card *ngIf="personales?.length" class="col-md-12">
    <div class="table-wrap">
      <table class="table-box">
        <thead>
          <tr>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Nombres
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              DNI
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Area
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Tipo Personal
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Especialidad
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Editar
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Eliminar
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
              Ver más
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of personales">
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.nombres }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.dni }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.area.nombre }}
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              {{ row.tipo_personal.nombre }}
            </td>
            <td
              *ngIf="!row.especialidad"
              [ngStyle]="{
                background: contentBgColor,
                color: 'contentColor'
              }"
            >
              Administrativo
            </td>
            <td
              *ngIf="row.especialidad"
              [ngStyle]="{ background: contentBgColor, color: contentColor }"
            >
              {{ row.especialidad.nombre }}
            </td>
            <td>
              <div class="actions">
                <button
                  class="col-6"
                  tc-button
                  [afterIcon]="'icofont-edit-alt'"
                  [view]="'info'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                  (click)="
                    openModal(
                      modalPersonal,
                      'Editar Personal',
                      modalActions,
                      row
                    );
                    loadusersSP(row)
                  "
                ></button>
              </div>
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              <div class="actions">
                <button
                  class="col-6"
                  tc-button
                  [afterIcon]="'icofont-ui-delete'"
                  [view]="'error'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                  (click)="
                    Eliminarpersonal(row.user.id)
                  "
                ></button>
              </div>
            </td>
            <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
              <div class="actions">
                <button
                  tc-button
                  tc-button
                  [tcColor]="['#fff', '#3f51b5']"
                  [tcBgColor]="['#3f51b5', '#fff']"
                  [tcBorderColor]="'#3f51b5'"
                  [square]="true"
                  [tcShape]="500"
                  [size]="'sm'"
                  (click)="
                    openModalVerMas(
                      modalBodyH,
                      'Ver Personal Completo',
                      modalFooterH,
                      row
                    )
                  "
                >
                  Ver Mas
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination-ul">
        <li class="pagination-li prev">
          <a
            class="pagination-link"
            (click)="prevPage()"
            [ngClass]="{ disabled: pageNum == 1 }"
          >
            <i class="icofont-simple-left"></i>
          </a>
        </li>

        <li class="pagination-li next">
          <a class="pagination-link" (click)="nextPage()">
            <i class="icofont-simple-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </tc-card>
</div>


<!-- crear y editar -->
<ng-container>
  <ng-template #modalPersonal>
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <div class="row">
          <div *ngIf="!edit" class=" col-sm-6  ">
            <tc-form-label>Usuario</tc-form-label>
            <tc-select
              [placeholder]="labelUser"
              type="number"
              formControlName="user"
              [options]="usersOpt"
            >
            </tc-select>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.user.untouched &&
                appointmentForm.controls.user.invalid
              "
            >
              Seleccione un usuario
            </tc-form-description>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">Nombres:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="nombres"
              [charLimiting]="23"
              pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.nombres.touched &&
                appointmentForm.controls.nombres.invalid
              "
            >
              Ingrese Nombre del personal
            </tc-form-description>
          </div>
        </div>
        <br />
        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">Apellido Paterno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_paterno"
              [charLimiting]="20"
              pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_paterno.touched &&
                appointmentForm.controls.apellido_paterno.invalid
              "
            >
              Ingrese Apellido Paterno del personal
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">apellido Materno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_materno"
              [charLimiting]="20"
              pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_materno.touched &&
                appointmentForm.controls.apellido_materno.invalid
              "
            >
              Ingrese Apellido Materno del personal
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">DNI:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="dni"
              [type]="'number'"
              [charLimiting]="8"
              pattern="[0-9]{8}"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.dni.touched &&
                appointmentForm.controls.dni.invalid
              "
            >
              Ingrese DNI del personal
            </tc-form-description>
          </div>
        </div>
        <br />
        <div class="row">
          <div class=" col-sm-6    ">
            <tc-form-label class="mb-md-0">Celular:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="celular"
              [type]="'number'"
              [charLimiting]="9"
              pattern="[0-9]{9}"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.celular.touched &&
                appointmentForm.controls.celular.invalid
              "
            >
              Ingrese celular del personal
            </tc-form-description>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">Teléfono:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="telefono"
              [type]="'number'"
              [charLimiting]="6"
              pattern="[0-9]{6}"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.telefono.touched &&
                appointmentForm.controls.telefono.invalid
              "
            >
              Ingrese telefono del personal
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-12 ">
            <tc-form-label class="mb-md-0">Direccion:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="direccion"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.direccion.touched &&
                appointmentForm.controls.direccion.invalid
              "
            >
              Ingrese dirección del personal
            </tc-form-description>
          </div>
        </div>
        <br />
        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label>Area</tc-form-label>
            <tc-select
              [placeholder]="labelArea"
              type="number"
              formControlName="area"
              [options]="areasOpt"
            >
            </tc-select>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.area.untouched &&
                appointmentForm.controls.area.invalid
              "
            >
              Seleccione un area
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>Tipo</tc-form-label>
            <tc-select
              [placeholder]="labelTipo"
              type="number"
              formControlName="tipo_personal"
              [options]="tiposOpt"
            >
            </tc-select>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.tipo_personal.untouched &&
                appointmentForm.controls.tipo_personal.invalid
              "
            >
              Seleccione un tipó de usuario
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>Especialidad</tc-form-label>
            <tc-select
              [placeholder]="labelEsp"
              type="number"
              formControlName="especialidad"
              [options]="especialidadesOpt"
            >
            </tc-select>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalActions>
    <div class="actions justify-content-between row">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button *ngIf="!edit"
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Crear Personal
      </button>
      <button *ngIf="edit"
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="editPersonal(appointmentForm)"
      >
        Editar Personal
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- Open Modal Ver Mas -->
<ng-container>
  <ng-template #modalBodyH>
    <form [formGroup]="personalForm">
      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Usuario</tc-form-label>
            <tc-input formControlName="user" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Area</tc-form-label>
            <tc-input formControlName="area" readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Tipo personal</tc-form-label>
            <tc-input
              formControlName="tipo_personal"
              readonly="readonly"
            ></tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label> Especialidad</tc-form-label>
            <tc-input formControlName="especialidad" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>DNI</tc-form-label>
            <tc-input formControlName="dni" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Nombres</tc-form-label>
            <tc-input formControlName="nombres" readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label> Apellido Paterno</tc-form-label>
            <tc-input formControlName="apellido_paterno" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Apellido Materno</tc-form-label>
            <tc-input formControlName="apellido_materno" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Celular</tc-form-label>
            <tc-input formControlName="celular" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Telefono</tc-form-label>
            <tc-input formControlName="telefono" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Direccion</tc-form-label>
            <tc-input formControlName="direccion" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Fecha Reg</tc-form-label>
            <tc-input formControlName="fechaReg" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>F. Actualizado</tc-form-label>
            <tc-input formControlName="updated_at" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>estReg</tc-form-label>
            <tc-input formControlName="estReg" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooterH>
    <div class="actions justify-content-between">
      <button
        tc-button
        [type]="'button'"
        [tcBgColor]="'#009688'"
        [block]="true"
        (click)="closeModalP()"
      >
        ACEPTAR
      </button>
    </div>
  </ng-template>
</ng-container>
