<!-- <p-confirmDialog [style]="{background: '#70B1C9',opacity: '0.8'}" header="Confirmation"
    icon="pi pi-exclamation-triangle"></p-confirmDialog> -->

<form [formGroup]="busForm" class="col-sm-12">
  <div class="row">
    <div class="col-md-1">
      <tc-form-group>
        <button
          tc-button
          [afterIcon]="'icofont-plus'"
          [view]="'info'"
          [square]="true"
          [tcShape]="500"
          [size]="'sm'"
          (click)="openModal(modalPersonal, 'Agregar Personal', modalActions)"
        ></button>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <tc-form-group>
        <tc-select
          [placeholder]="'Opciones'"
          formControlName="opBus"
          [options]="busqOption"
        >
        </tc-select>
      </tc-form-group>
    </div>
    <div class="col-md-5">
      <tc-form-group>
        <tc-input
          [placeholder]="'Ingrese el dato a buscar'"
          type="number"
          [suffixIcon]="'icofont-search-document'"
          formControlName="campo"
        >
        </tc-input>
        <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
          *ngIf="busForm.controls.campo.touched && busForm.controls.campo.invalid">
          Ingrese solo numeros
        </tc-form-description>
      </tc-form-group>
    </div>
    <div class="col-md-2">
      <button
        tc-button
        [block]="true"
        [view]="'success'"
        [tcShape]="300"
        (click)="buscar(busForm)"
      >
        Buscar
      </button>
    </div>
    <div class="col-md-2">
      <button
        tc-button
        [block]="true"
        [tcShape]="300"
        [tcBgColor]="'#3f51b5'"
        (click)="loadPersonal()"
      >
        Cargar
      </button>
    </div>
  </div>
</form>
<br />
<tc-card *ngIf="personales?.length" class="mb-0">
  <div class="table-wrap">
    <table class="table-box">
      <thead>
        <tr>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Nombres
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            DNI
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Area
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Tipo Personal
          </th>
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Especialidad
          </th>
          
          <th [align]="headerAlign" [tcBgColor]="headerBgColor">
            Ver más
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of personales">
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.nombres }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.dni }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.area.nombre }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            {{ row.tipo_personal.nombre }}
          </td>
          <td
            *ngIf="!row.especialidad"
            [ngStyle]="{ background: contentBgColor, color: 'red' }"
          >
            Sin Especialidad
          </td>
          <td
            *ngIf="row.especialidad"
            [ngStyle]="{ background: contentBgColor, color: contentColor }"
          >
            {{ row.especialidad.nombre }}
          </td>
          <td [ngStyle]="{ background: contentBgColor, color: contentColor }">
            <div class="actions">
              <button
                tc-button
                tc-button
                [tcColor]="['#fff', '#3f51b5']"
                [tcBgColor]="['#3f51b5', '#fff']"
                [tcBorderColor]="'#3f51b5'"
                [square]="true"
                [tcShape]="500"
                [size]="'sm'"
                (click)="
                  openModalVerMas(
                    modalBodyH,
                    'Ver Personal Completo',
                    modalFooterH,
                    row
                  )
                "
              >
                Ver Mas
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination-ul">
      <li class="pagination-li prev">
        <a
          class="pagination-link"
          (click)="prevPage()"
          [ngClass]="{ disabled: pageNum == 1 }"
        >
          <i class="icofont-simple-left"></i>
        </a>
      </li>

      <li class="pagination-li next">
        <a class="pagination-link" (click)="nextPage()">
          <i class="icofont-simple-right"></i>
        </a>
      </li>
    </ul>
  </div>
</tc-card>

<ng-container>
  <ng-template #modalPersonal>
    <form [formGroup]="appointmentForm">
      <tc-form-group>
        <div class="row">
          <div class=" col-sm-6  ">
            <tc-form-label>Usuario</tc-form-label>
            <tc-select
              [placeholder]="'user'"
              type="number"
              formControlName="user"
              [options]="usersOpt"
            >
            </tc-select>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">nombres:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="nombres"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.nombres.touched &&
                appointmentForm.controls.nombres.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">apellido Paterno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_paterno"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_paterno.touched &&
                appointmentForm.controls.apellido_paterno.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">apellido Materno:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="apellido_materno"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.apellido_materno.touched &&
                appointmentForm.controls.apellido_materno.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
          <div class=" col-sm-4">
            <tc-form-label class="mb-md-0">DNI:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="dni"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.dni.touched &&
                appointmentForm.controls.dni.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-6    ">
            <tc-form-label class="mb-md-0">celular:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="celular"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.celular.touched &&
                appointmentForm.controls.celular.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>

          <div class=" col-sm-6">
            <tc-form-label class="mb-md-0">telefono:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="telefono"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.telefono.touched &&
                appointmentForm.controls.telefono.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>
        <div class="row">
          <div class=" col-sm-12 ">
            <tc-form-label class="mb-md-0">Direccion:</tc-form-label>
            <tc-input
              [prefixIcon]="'icofont-id'"
              formControlName="direccion"
            ></tc-input>
            <tc-form-description
              [tcColor]="'#e24d4d'"
              [tcFontSize]="'0.8em'"
              *ngIf="
                appointmentForm.controls.direccion.touched &&
                appointmentForm.controls.direccion.invalid
              "
            >
              Error!
            </tc-form-description>
          </div>
        </div>

        <div class="row">
          <div class=" col-sm-4">
            <tc-form-label>area</tc-form-label>
            <tc-select
              [placeholder]="'area'"
              type="number"
              formControlName="area"
              [options]="areasOpt"
            >
            </tc-select>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>tipo</tc-form-label>
            <tc-select
              [placeholder]="'tipo personal'"
              type="number"
              formControlName="tipo_personal"
              [options]="tiposOpt"
            >
            </tc-select>
          </div>
          <div class=" col-sm-4">
            <tc-form-label>especialidad</tc-form-label>
            <tc-select
              [placeholder]="'especialidad'"
              type="number"
              formControlName="especialidad"
              [options]="especialidadesOpt"
            >
            </tc-select>
          </div>
        </div>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalActions>
    <div class="actions justify-content-between row">
      <button
        class="col"
        tc-button
        [type]="'button'"
        [view]="'error'"
        [tcShape]="500"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        class="col"
        tc-button
        [view]="'success'"
        [tcShape]="500"
        [afterIcon]="'icofont-save'"
        [disabled]="appointmentForm.invalid"
        (click)="addAppointment(appointmentForm)"
      >
        Crear Usuario
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- Open Modal Ver Mas -->
<ng-container>
  <ng-template #modalBodyH>
    <form [formGroup]="personalForm">
      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Usuario</tc-form-label>
            <tc-input formControlName="user" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-form-label>Area</tc-form-label>
            <tc-input formControlName="area" readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Tipo personal</tc-form-label>
            <tc-input
              formControlName="tipo_personal"
              readonly="readonly"
            ></tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label> Especialidad</tc-form-label>
            <tc-input formControlName="especialidad" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>DNI</tc-form-label>
            <tc-input formControlName="dni" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Nombres</tc-form-label>
            <tc-input formControlName="nombres" readonly="readonly"></tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label> Apellido Paterno</tc-form-label>
            <tc-input formControlName="apellido_paterno" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Apellido Materno</tc-form-label>
            <tc-input formControlName="apellido_materno" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Celular</tc-form-label>
            <tc-input formControlName="celular" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Telefono</tc-form-label>
            <tc-input formControlName="telefono" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Direccion</tc-form-label>
            <tc-input formControlName="direccion" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Fecha Reg</tc-form-label>
            <tc-input formControlName="fechaReg" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>F. Actualizado</tc-form-label>
            <tc-input formControlName="updated_at" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>estReg</tc-form-label>
            <tc-input formControlName="estReg" readonly="readonly"> </tc-input>
          </tc-form-group>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooterH>
    <div class="actions justify-content-between">
      <button
        tc-button
        [type]="'button'"
        [tcBgColor]="'#009688'"
        [block]="true"
        (click)="closeModalP()"
      >
        ACEPTAR
      </button>
    </div>
  </ng-template>
</ng-container>
