
<ng-container>
  <ng-template #modalConf1>
    <p>¿Esta seguro que desea eliminar orden?</p>
  </ng-template>

  <ng-template #modalConf2>
    <h5>Cancelar orden</h5>
  </ng-template>

  <ng-template #modalConf3>
    <div class="row actions justify-content-between">
      <button
        class="col-sm-3"
        tc-button
        [view]="'success'"
        (click)="cancelar()"
      >
        Si
      </button>
      <button
        class="col-sm-3"
        tc-button
        [view]="'error'"
        (click)="closeModalH()"
      >
        No
      </button>
    </div>
  </ng-template>
</ng-container>        

<div class="col col-12 ">
    <form [formGroup]="busForm">
    <div class="row">
      <div class="col col-12 ">
        <div class="row">
          <div class="col-md-1">
            <tc-form-group>
              <button tc-button [afterIcon]="'icofont-plus'" [view]="'info'" [square]="true" [tcShape]="500" [size]="'sm'"
                (click)="openModalI(modalBodyI,'Crear Orden',modalFooterI)"></button>
            </tc-form-group>
          </div>
          <div class="col-md-7">
            <tc-form-group>
                <tc-input [placeholder]="'Ingrese el nombre y/o apellido'" type="text" [suffixIcon]="'icofont-search-document'"
                formControlName="datoBus"
              >
              </tc-input>
            </tc-form-group>
          </div>
          
          <div class="col-md-2">
            <button tc-button [view]="'success'" [tcShape]="500" (click)="buscar(busForm)" >
              Buscar
            </button>
          </div>
          <div class="col-md-2">
            <button
              tc-button
              [block]="true"
              [tcBgColor]="'#3f51b5'"
              [tcShape]="300"
              (click)="loadOrdenes()"
            >
              Cargar
            </button>
          </div>
        </div>
      </div>
   
    </div>
  </form>
</div>

<tc-card class="mb-0">
	<tc-table [rows]="ordenes" [hovered]="true" [pagination]="true">

		<tc-table-col [columnTitle]="'Nombre'" [columnName]="'nombre'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
		</tc-table-col>

		<tc-table-col [columnTitle]="'DNI'" [columnName]="'dni'">
			<ng-template #tableTDTemplate let-value>
				<strong>{{ value }}</strong>
			</ng-template>
    </tc-table-col>	
    <tc-table-col [columnTitle]="'Origen'" [columnName]="'orden'">
        <ng-template #tableTDTemplate let-value>
          <strong>{{ value }}</strong>
        </ng-template>
      </tc-table-col>		

		<tc-table-col [columnTitle]="'Establecer Fecha'">
			<ng-template #tableTDTemplate let-row="row">
				<div class="actions">
					<button tc-button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
						[tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
						(click)="openModalVerMas(modalBodyH,'Establecer Fecha',modalFooterH, row)">Establecer</button>
				</div>
			</ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Cancelar Orden'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button tc-button tc-button [afterIcon]="'icofont-ui-delete'" [view]="'error'" [tcShape]="500" [size]="'sm'"
              (click)="
              openModalCancelar(modalConf1, modalConf2, modalConf3, row.id)"            ></button>
          </div>
        </ng-template>
      </tc-table-col>

	</tc-table>

<ng-container>
  <ng-template #modalBodyH>
    <form [formGroup]="ordenForm" novalidate class="new-patient-form">
        <div class="row">
            <div class="col-12 col-sm-9">   
            <tc-form-group>
                <tc-form-label>Ingrese Fecha:(posterior a la actual) </tc-form-label> 
              </tc-form-group>
            </div>
        </div>
      <div class="row">
        <div class="col-12 col-sm-3">
 
        </div>
        <div class="col-12 col-sm-6">
            <tc-form-group>
              <tc-input  [type]="'date'" [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'" [placeholder]="'Fecha'"
                formControlName="fecha" ></tc-input>
            </tc-form-group>
          </div>
      </div>
    </form>
  </ng-template>
  

  <ng-template #modalFooterH>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalH()">
        Cancelar
      </button>
      <button tc-button [view]="'info'" [disabled]="ordenForm.invalid" (click)="actualizarOrden(ordenForm)">
        ACEPTAR
      </button>
    </div>
  </ng-template>
</ng-container>
<ul class="pagination-ul">
  <li class="pagination-li prev">
    <a class="pagination-link" (click)="prevPage()" [ngClass]="{ disabled: pageNum == 1 }">
      <i class="icofont-simple-left"></i>
    </a>
  </li>

  <li class="pagination-li next">
    <a class="pagination-link" (click)="nextPage()">
      <i class="icofont-simple-right"></i>
    </a>
  </li>
</ul>
<!--End Modal Crear orden Mas-->
<div class="add-action-box2">	
		<input type="button" value="Crear Orden Externa" name="submit" tc-button [square]="true" [tcShape]="300" (click)="openModalVerExtra(modalBodyE,'Crear Orden',modalFooterE)"/>
</div>
<ng-container>
    <ng-template #modalBodyE>
      <form [formGroup]="historiaFormE" novalidate class="new-patient-form">
        <div class="row">
            <div class="col-12 col-sm-6">
                <tc-form-group>
                  <tc-form-label>Fecha </tc-form-label>
                  <tc-input [type]="'date'" [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'" [placeholder]="'Fecha'"
                    formControlName="fecha" ></tc-input>
                </tc-form-group>
              </div>
          <div class="col-12 col-sm-6">
            <tc-form-group>
              <tc-form-label>DNI</tc-form-label>
              <tc-input  [placeholder]="'DNI'"
                formControlName="dni" ></tc-input>
                <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'" *ngIf="historiaFormE.controls.dni.invalid">
              Ingrese solo numeros
            </tc-form-description>
            </tc-form-group>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <tc-form-group>
              <tc-form-label>Nombre</tc-form-label>
              <tc-input  [placeholder]="'Nombre'"
                formControlName="nombre" ></tc-input>
            </tc-form-group>
          </div>

  
  
        </div>
        
        <div class="row">
          
          <div class="col-12 col-sm-6">
            <tc-form-label>Tipo de Examen </tc-form-label>
                <tc-form-group>
                  <tc-select [placeholder]="'Tipo de Examen'" formControlName="tipoExam" [options]="tipoExOption">
                  </tc-select>
                </tc-form-group>
          </div>
        </div>
      </form>
    </ng-template>
  
    <ng-template #modalFooterE>
      <div class="actions justify-content-between">
        <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalH()">
          Cancelar
        </button>
        <button tc-button [view]="'info'" [disabled]="historiaFormE.invalid" (click)="crearOrdenE(historiaFormE)">
          ACEPTAR
        </button>
      </div>
    </ng-template>
  </ng-container>
  <!--End Modal Ver Mas-->


  <ng-container>
    <ng-template #modalBodyI>
      <form [formGroup]="historiaFormI" novalidate class="new-patient-form">
        <div class="row">
            <div class="col-12 col-sm-6">
                <tc-form-group>
                  <tc-form-label>Fecha </tc-form-label>
                  <tc-input [type]="'date'" [bgColor]="'#fff'" [borderColor]="'#3f51b5'" [color]="'#3f51b5'" [placeholder]="'Fecha'"
                    formControlName="fecha" ></tc-input>
                </tc-form-group>
              </div>
          <div class="col-12 col-sm-6">
            <tc-form-group>
              <tc-form-label>DNI</tc-form-label>
              <tc-input  [placeholder]="'DNI'"
                formControlName="dni" ></tc-input>
                <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'" *ngIf="historiaFormI.controls.dni.invalid">
              Ingrese solo numeros
            </tc-form-description>
            </tc-form-group>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <tc-form-group>
              <tc-form-label>Orden</tc-form-label>
              <tc-input  [placeholder]="'Orden'"
                formControlName="orden" ></tc-input>
            </tc-form-group>
          </div>
  
        </div>
        
        <div class="row">
          
          <div class="col-12 col-sm-6">
            <tc-form-label>Tipo de Examen </tc-form-label>
                <tc-form-group>
                  <tc-select [placeholder]="'Tipo de Examen'" formControlName="tipoExam" [options]="tipoExOption">
                  </tc-select>
                </tc-form-group>
          </div>
        </div>
      </form>
    </ng-template>
  
    <ng-template #modalFooterI>
      <div class="actions justify-content-between">
        <button tc-button [type]="'button'" [view]="'error'" (click)="closeModalH()">
          Cancelar
        </button>
        <button tc-button [view]="'info'" [disabled]="historiaFormI.invalid" (click)="crearOrdenI(historiaFormI)">
          ACEPTAR
        </button>
      </div>
    </ng-template>
  </ng-container>