<!--
<form [formGroup]="busForm">
	<div class="row">
		<div class="col col-12 ">
			<div class="row">
				<div class="col-md-9">
					<tc-form-group>
						<tc-input [placeholder]="'Ingrese Dato a buscar*'" formControlName="datoBus"></tc-input>
					</tc-form-group>
				</div>
				<div class="col-md-2">
					<button tc-button [block]="true" [view]="'success'" [tcShape]="500" >
						Buscar
					</button>
				</div>
			</div>
		</div>
	</div>
</form> -->
<tc-card class="mb-0">
	<tc-table [rows]="CitasC" [hovered]="true">
		<tc-table-col [columnTitle]="'Id'" [columnName]="'id'">
		</tc-table-col>
		<tc-table-col [columnTitle]="'Número de Historia'" [columnName]="'numeroRecibo'" [enableSorting]="true">
		</tc-table-col>
		<tc-table-col [columnTitle]="'Nombre Completo'" [columnName]="'responsable'"></tc-table-col>
		<tc-table-col [columnTitle]="'Especialidad'" [columnName]="'fechaAtencion'"></tc-table-col>
		<tc-table-col [columnTitle]="'Estado de Cita'" [columnName]="'estadoCita'"></tc-table-col>
		<tc-table-col [columnTitle]="'Atender Paciente'" [columnName]="''">
			<ng-template #tableTDTemplate let-row="row">
				<div class="actions">
					<button tc-button [tcColor]="['#fff', '#3f51b5']" [tcBgColor]="['#3f51b5', '#fff']"
						[tcBorderColor]="'#3f51b5'" [square]="true" [tcShape]="500" [size]="'sm'"
						(click)="atender(row.numeroRecibo,row.id)">Atender</button>
				</div>
			</ng-template>
		</tc-table-col>
	</tc-table>
	<ul class="pagination-ul">
		<li class="pagination-li prev">
			<a
				class="pagination-link"
				(click)="prevPage()"
				[ngClass]="{ disabled: pageNum == 1 }"
			>
				<i class="icofont-simple-left"></i>
			</a>
		</li>

		<li class="pagination-li next">
			<a 
				class="pagination-link" 
				(click)="nextPage()">
				<i class="icofont-simple-right"></i>
			</a>
		</li>
	</ul>
</tc-card>
<tc-card *ngIf="hayCitas" class="mb-0">
	<h5 [align]="center">No posee Citas Programadas por el momento</h5>
</tc-card>