
<div class="col-sm-12">
  <form [formGroup]="busForm">
    <div class="row">
      <div class="col col-12 ">
        <div class="row">
          <div class="col-md-8">
            <tc-form-group>
              <tc-input type ="number" [placeholder]="'Ingrese numero de DNI*'" formControlName="datoBus"></tc-input>
            </tc-form-group>
          </div>
          <div class="col-md-2">
            <button tc-button [block]="true" [view]="'success'" [tcShape]="500" (click)="buscar(busForm)">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <tc-card class="mb-0">
		<div class="table-wrap">
			<table class="table-box">
				<thead>
					<tr>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Numero de Historia
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							DNI
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Nombres
						</th>						
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Apellido Paterno
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Especialidad
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Medico
            </th>
            <th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Estado
						</th>
						<th [align]="headerAlign" [tcBgColor]="headerBgColor">
							Actualizar Datos
						</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let row of citasTriaje">
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.numeroHistoria}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.dni}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.nombres}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.numeroHistoria.apellido_paterno}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.especialidad.nombre}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.medico.username}}
            </td>
            <td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							{{row.estadoCita}}
						</td>
						<td [ngStyle]="{ 'background': contentBgColor, 'color': contentColor }">
							<div class="actions">
                <button tc-button [afterIcon]="'icofont-ui-edit'" [view]="'info'" [square]="true" [tcShape]="500"
                  [size]="'sm'" (click)="openModal(modalBody, 'Agregar Datos de Triaje', modalFooter, row)">
                </button>
              </div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</tc-card>



</div>
<!-- edit patient Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="patientForm1" novalidate class="new-patient-form">
      <div class="row">


        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Fecha de Atencion</tc-form-label>
            <tc-input [placeholder]="'Fecha de Atención'" formControlName="fechaAtencion" readonly="readonly">
            </tc-input>
          </tc-form-group>
        </div>


      </div>
    </form>


    <form [formGroup]="patientForm2" novalidate class="new-patient-form">
      <div class="row">
        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Talla</tc-form-label>
            <tc-input [placeholder]="'talla'" [type]="'number'" formControlName="talla"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="patientForm2.controls.talla.touched && patientForm2.controls.talla.invalid ">
              Debe ingresar un numero positivo
            </tc-form-description>
          </tc-form-group>
        </div>


        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Peso</tc-form-label>
            <tc-input [placeholder]="'peso'" [type]="'number'" formControlName="peso"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="patientForm2.controls.peso.touched && patientForm2.controls.peso.invalid ">
              Debe ingresar un numero positivo
            </tc-form-description>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Temperatura</tc-form-label>
            <tc-input [placeholder]="'temperatura'" [type]="'number'" formControlName="temperatura"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="patientForm2.controls.temperatura.touched && patientForm2.controls.temperatura.invalid ">
              Debe ingresar un numero positivo
            </tc-form-description>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frecuencia Resp.</tc-form-label>
            <tc-input [placeholder]="'frecuenciaR'" [type]="'number'" formControlName="frecuenciaR"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="patientForm2.controls.frecuenciaR.touched && patientForm2.controls.frecuenciaR.invalid ">
              Debe ingresar un numero positivo
            </tc-form-description>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Frecuencia Cardiaca</tc-form-label>
            <tc-input [placeholder]="'frecuendiaC'" [type]="'number'" formControlName="frecuenciaC"></tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-4">
          <tc-form-group>
            <tc-form-label>Presión Arterial</tc-form-label>
            <tc-input [placeholder]="'presionArt'" formControlName="presionArt"></tc-input>
            <tc-form-description [tcColor]="'#e24d4d'" [tcFontSize]="'0.8em'"
              *ngIf="patientForm2.controls.presionArt.touched && patientForm2.controls.presionArt.invalid ">
              Ingrese el siguiente formato "##/##"
            </tc-form-description>
          </tc-form-group>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancelar</button>
      <button tc-button [view]="'info'" (click)="CreateTriaje(patientForm2)">
        Crear Triaje
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->